html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 112.5%;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

body {
  height: 100vh;
  background-color: hsl(217deg, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  width: 95%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  align-items: center;
  font-size: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
footer div {
  position: absolute;
  bottom: 0;
}
footer div p,
footer div a {
  color: LightCyan;
  padding-right: 10px;
  font-size: 0.7rem;
}

.advice {
  font-size: 2rem;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  padding: 15px;
  margin: 0 26px;
  color: hsl(193deg, 38%, 86%);
  text-align: center;
}

h1,
.adviceId {
  color: hsl(150deg, 100%, 66%);
  font-size: 1rem;
  margin: 0 auto;
  letter-spacing: 4px;
}

.mainContainer {
  margin: 0 auto;
  width: 700px;
  height: 400px;
  background: hsl(217deg, 19%, 38%);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.btn {
  margin: 0 auto;
  cursor: pointer;
}

button {
  width: 50px;
  height: 50px;
  background-color: hsl(150deg, 100%, 66%);
  text-align: center;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: -26px;
  border: hsl(150deg, 100%, 66%);
}

img {
  padding-top: 0;
}

button:hover,
button:after {
  box-shadow: 0px 0px 20px hsl(150deg, 100%, 66%);
}

.divider-container {
  margin-top: 20px;
  position: relative;
  z-index: 0;
}

.line {
  height: 20px;
  width: 100%;
}

.line::before {
  content: " ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: red;
}

.line::after {
  content: " ";
  height: 2px;
  width: 130px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}/*# sourceMappingURL=style.css.map */